.flex-container {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px;
}
.button {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #CCCCCC;
  padding: 5px;
}
.div-title {
  flex-grow: 8;
  color: #3F4347;
}
.box {
  padding: 10px;
}
.icon-btn {
  background: none;
  border: none;
}
.Modal {
  position: absolute;
  top: 40px;
  left: 30%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}